.contact
{
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.formulaire{
    display: flex;
    flex-direction: column;
    width:50%;
    margin:auto;
    margin-bottom: 50px;
}
.form-input
{
    border: none;
    border-bottom:solid 1px #ec6d6a;
	font-size: 15px;
    padding: 10px;
	width: 100%;
    color:#ec6d6a;
    margin-bottom: 20px;
    background-color: rgba(41, 49, 51,.05);
}

.form-textarea{
    border: none;
    border-bottom:solid 1px #ec6d6a;
	font-size: 15px;
    padding: 10px;
	width: 100%;
    color:#ec6d6a;
    margin-bottom: 20px;
    background-color: rgba(41, 49, 51, 0.05);
    height: 90px;

}

.send
{
    padding: 10px;
    font-size: 1.5em;
    border: none;
    margin: auto;
    color: #ec6d6a;
    background-color: transparent;
}
@media (max-width:992px){
    form{
        width: 75%;
    }
}