[Desktop Entry]
Encoding=UTF-8
Name=Lien vers burger.jpg
Type=Link
URL=https://github.com/Mikacetb/wild-lunch-food/blob/repas-du-midi/burger.jpg
Icon=text-html
