header{
    height:65px;
    background-color: #293133;
    border-bottom: solid 2px #EC6D6A;
}
header nav{
    position: absolute;
    right: 25px;
    top: 10px;
}
.nav__burger{
    display:flex;
    flex-direction: column;
    background-color: transparent;
    border:none;
    z-index: 1;
}
.nav__burger span{
    border: solid 3px #EC6D6A;
    width: 25px;
    margin: 3px;
    z-index:0;
}
.nav__list{
    position: absolute;
    visibility: hidden;
    right: -20em;
    transition:ease 0.1s;
    margin-top: 17px;
    background-color: #293133;
    font-weight: 400;
    font-family: 'Lobster';
    transform: translate(0, -50%,-50%);
    height: auto;
    width:100vw;
    border-bottom: solid 2px #EC6D6A;
    border-left: solid 2px #EC6D6A;
}
.nav__li{
    font-size: 2em;
    width: auto;
    text-align: center;
    margin: 25px;
    color:#EC6D6A;
}
.nav__list--active{
    right: -25px;
    visibility: visible;
    transition:ease 0.1s;
}
@media (min-width:992px){
    .nav__list{
        width: auto;
        padding: 50px;
        border-bottom-left-radius: 10px;
    }

}