a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@font-face{
    font-family: "Lobster";
}
body{
    overflow-x: hidden;
}
.header{
    width: 100%;
}
.dej-ent{
    /* background-color: rgb(211, 206, 206); */
}
.dej-ent-forms{
    display:flex;
    flex-direction: column;
}
.dej-ent-title{
    text-align: center;
    font-size: 2em;
    color:#EC6D6A;
    font-weight: 700;
    padding: 25px;
    background-color: #293133;
    margin-bottom: 50px;
}
.dej-ent-title span{
    margin: auto;
    font-size: 0.8em;
}
.dej-ent-form{
    background-color: rgba(41, 49, 51,0.15);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border:solid 2px #EC6D6A;
    margin:auto;
    margin-bottom: 50px;
    width: 80%;
}
.dej-ent-form-title{
    text-align: center;
    font-size: 2em;
    line-height: 1.25;
    color:#293133;
    background-color: #EC6D6A;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.dej-ent-form-desc{
    text-align: center;
    font-size: 1.5em;
    margin: 25px;
}
@media (min-width:992px){
    .dej-ent-forms{
        flex-direction: row;
        justify-content: space-around;
    }
    .dej-ent-form{
        width: 30%;
    }
    .dej-ent-form-desc{
        font-size: 1.7em;
        margin: 50px;
    }
}