html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    }
body{
    font-family: 'lobster Two';
    font-size: 1.2em;   
}   
h2{
    text-align: start;
    color: #EC6D6A;
    font-family: Lobster;
    background-color: #293133;
    text-align: center;
    margin:0 0 0.5em 0;
    padding: 1em;
}
h3{
    background-color: #EC6D6A;
    width:100%;
    text-align: center;
    font-family: Lobster;
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 1.5em;
    border-radius: 10px 10px 0px 0px;
}
article {
    display: flex;
    flex-direction: column;
    max-width:100%;
    background-color: white;
    color: black;
    text-align: justify;
}
.dej{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
}
.petitdej{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    padding-bottom: 25px;
    margin-top:none;
    background-image: linear-gradient( white, #777777);
}
.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 0 2em 0;
}
.presentation div p{
    width: 80%;
    margin: 0 5% 2em 5%;
    padding-left:5%;
    padding-right: 5%;
}
.type_formule_petit_dej div p{
    width: 80%;
    margin: 0 5% 2em 5%;
    padding-left:5%;
    padding-right: 5%;
}
.button{
    border: 0;
    line-height: 2.5;
    padding: 0 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color:#EC6D6A;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color:#293133;
}
article div img{
    border-radius: 5px;
    box-shadow: 3px 3px 9px #acb2b4;
    width: 80%;
    margin:auto;
    max-width: 300px;
    margin: 0 10% 2em 10%;
} 
footer{
    padding: auto;
    text-align: center;
    background-color: #293133;
}
footer ul li a{
    color: #EC6D6A;
    text-decoration: none;
}
footer ul li{
    margin-left:0;
}
footer ul{
    list-style: none;
    padding:0.5em 0 0.5em 0;
}
hr {
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 3px 3px 8px #293133;
    border-radius: 8px;
    padding-top: 0.5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #EC6D6A;

}
section div img{
    width: 70%;
    height:auto;
}
section div{
    text-align: center;
}
@media screen and (min-width:992px){
    body{
        font-family: 'lobster Two';
        font-size: 1.5em;   
    }  
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
        width:100%;
        padding: 0px;
        border-radius: 20px 20px 0px 0px;
    }
    .equipe {
        width: 100%;
    }
    .equipe p{
        width: 80%;
        margin: auto;
    }
    .equipe img{
        border-radius: 10px;
        box-shadow: 3px 3px 9px #8a8e8f;
        width 650%;
        margin:auto;
        max-width: 1000px;
        margin: 0 10% 1em 10%;
    }
    .type_formule_petit_dej{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2em;
        }
    .petitdej{
        width:30%;
        text-align: center; 
        background-image: linear-gradient( white, #777777);
    }
    .type_formule_petit_dej p{
        text-align: center;
    }
    .type_formule_petit_dej img{
        width:60%;
        height:35%;
        box-shadow:3px 3px #293133
    }
    article img{
        width:100%;
        height: auto;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer ul li{
        padding: 0.7em;
    }
}